<h1  class="table-dark col-md-4 offset-md-4 text-center">Editing Patient</h1>

<%= render partial: 'form', locals: {patient: @patient} %>
<div class="col-md-5 offset-md-5"><br>
  <%= link_to 'Show', clerk_patient_path(@patient), method: :GET,class: "btn btn-outline-dark " %> 
  <%= link_to 'Back', clerk_patients_path,class: "btn btn-outline-dark " %>
</div>
