<h1  class="table-dark col-md-4 offset-md-4 text-center">Editing stay</h1>

<%= render partial: 'form2', locals: {stay: @stay, patient: @patient} %>
<div class="col-md-5 offset-md-5"><br>
  <%= link_to 'Show', clerk_stay_path(@stay), method: :GET,class: "btn btn-outline-dark " %> 
  <%= link_to 'Back', clerk_stays_path,class: "btn btn-outline-dark " %>
</div>
