<%= render partial: 'layouts/layout' %>

<h1 class="table-dark col-md-4 offset-md-4 text-center">Editing Appointment</h1>

<%= render partial: 'form', locals: {appointment: @appointment} %>
<div class="col-md-5 offset-md-5"><br>
    <%= link_to 'Show', clerk_appointment_path(@appointment), method: :GET ,class: "btn btn-outline-dark " %>
    <%= link_to 'Back', clerk_appointments_path ,class: "btn btn-outline-dark " %>
</div>
