<h1>Welcome#index</h1>

<div class="text-center sp">
  <div class="btn-group-vertical  btn-group-center" >
    <%= link_to  clerk_clerks_path, class: 'btn btn-outline-dark btn-lg' do%>
      Clerks
    <% end %>
    <%= link_to  doctor_appointments_path, class: 'btn btn-outline-dark btn-lg' do%>
      Doctor Appointments
    <% end %>
    <%= link_to  patient_appointments_path, class: 'btn btn-outline-dark btn-lg' do%>
      Patient Appointments
    <% end %>
  </div>
</div>

