<h1>Welcome#index</h1>



<div class="text-center sp">

<div class="btn-group-vertical  btn-group-center" >
<a class="btn btn-outline-dark btn-lg " href="/clerk/clerks" role="button">Clerk</a>
<a class="btn btn-outline-dark btn-lg" href="/doctor/appointments" role="button">Doctor Appointments</a>
<a class="btn btn-outline-dark btn-lg" href="/patient/appointments" role="button">Patient Appointments</a>
</div>

</div>

