<h1 class="table-dark col-md-4 offset-md-4 text-center">New bed</h1>

<%= render partial: 'form', locals: {bed: @bed} %>

<div class="col-md-5 offset-md-5"><br>
  <%= link_to 'Back', clerk_beds_path,class: "btn btn-outline-dark" %>
</div>


