<h1   class="table-dark col-md-4 offset-md-4 text-center">New staff</h1>

<%= render partial: 'form', locals: {staff: @staff} %>
<div class="col-md-5 offset-md-5"><br>
  <%= link_to 'Back', clerk_staffs_path ,class: "btn btn-outline-dark" %>
</div>
