<h1 class="table-dark col-md-4 offset-md-4 text-center">Editing department</h1>
<%= render partial: 'form', locals: {department: @department} %>
<div class="col-md-5 offset-md-5"><br>
  <%= link_to 'Show', clerk_department_path(@department) , method: :GET ,class: "btn btn-outline-dark "%> 
  <%= link_to 'Back', clerk_departments_path,class: "btn btn-outline-dark " %>
</div>

