<%= render partial: 'layouts/layout' %>

<h1 class="table-dark col-md-4 offset-md-4 text-center">New Doctor</h1>

<%= render partial: 'form', locals: {doctor: @doctor} %>
<div class="col-md-5 offset-md-5"><br>
  <%= link_to 'Back', clerk_doctors_path ,class: "btn btn-outline-dark" %>
</div>
