<% if clerk_signed_in? %>
  <ul class="nav nav-pills ">
   <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-dark btn-lg" href="/welcome/index">Home</a>
      </li>
        <a class="nav-link  btn btn-outline-dark btn-lg" href="/clerk/clerks">Clerks</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-outline-dark btn-lg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Options</a>
        <div class="dropdown-menu btn btn-outline-dark btn-lg">
          <a class="dropdown-item" href="/clerk/doctors">Doctors</a>
          <a class="dropdown-item" href="/clerk/patients">Patients</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/clerk/appointments">Appointments</a>
        </div>
      </li>
    </ul>
  </ul>
<% end %>
